body {
    font-family: Arial, sans-serif;
    width: 225px;
    height: 90px;
    padding: 10px;
}
#caught-count {
    font-size: 16px;
    font-weight: bold;
}
#dropdown {
    margin-top: 1px;
    width: 100%;
}
h4 {
    margin-bottom: 1px;
}
button {
    margin-top: 15px;
    margin-bottom: 5px;
}